<p-toast position="top-center" key="tc" life="3000"></p-toast>
<div class="p-shadow-5 p-px-2 p-mt-4">
    <h1 style="text-align: center; margin-top: 20px;"><strong>JUEGO GRATIS</strong></h1>
    <img src="../../assets/images/bongo-balls.png" style="height: 200px; width: 400px; align-items: center;  margin-bottom: 20px;">
    <p-card class="p-mb-1 p-px-1">
        <p-header class="p-p-2">
            <strong><p style="text-align: center; margin-top: 20px;">Nuestro Bot Vs Tus Habilidades de Bingo!</p></strong>
        </p-header>
        
        <p style="text-align: center; margin-top: 20px;">¿Quieres jugar al bingo online gratis? ¡En Bingo Game puedes hacerlo cuando quieras!</p>
        <br>
        <p style="text-align: center; margin-top: 20px;">Si tienes suficientes Bingo Coins (nuestra moneda virtual) en tu cuenta de juego, ¡puedes jugar gratis a este popular juego de lotería! Antes de comenzar.</p>

        <p-footer class="p-d-flex p-jc-end">
            <div class="p-mr-2">
                <label for="minmax">Cant Cartones: </label>
                 <p-inputNumber [(ngModel)]="cartonesComprar" mode="decimal" [showButtons]="true"></p-inputNumber>
              <!--   <p-inputNumber [(ngModel)]="cartonesComprar" value="1" mode="decimal" [showButtons]="true"
                    inputId="nrocatones" [min]="1" [max]="10">
                </p-inputNumber> -->     
            </div>
            <div class="p-mr-2">
                <button pButton type="button" label="JUEGA AHORA GRATIS!!!" (click)="entrarPartida()"></button>
            </div>
        </p-footer>
    </p-card>
</div>
<app-publi-toast [show]="true" [idPublicidad]="20"></app-publi-toast>