<!--<app-menu></app-menu>-->
<section class="hero is-dark is-large" id="home">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="/landing" >
            <img src="" width="112" height="28" alt="BINGO-APP">
          </a>
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/#home">
              Inicio
            </a>
      
            <a class="navbar-item" href="/#who-are-we">
                Quienes Somos
            </a>
            
            <a class="navbar-item" href="/#pricing">
                   
                Precios
            </a>
      
           <!--  <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div> 
            </div>-->
          </div>
      
         <!--  <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </nav>
      <!--Hero space-->
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            BINGO-APP
        </h1>
        <h2 class="subtitle">
          First Section
        </h2>
      </div>
    </div>

<section class="hero is-link is-large" id="who-are-we">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Quienes Somos
        </h1>
        <h2 class="subtitle">
          bingo-app
        </h2>
      </div>
    </div>
  </section>
  <section class="hero is-dark is-large" id="pricing">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          ¿Cómo Jugar?
        </h1>
        <h2 class="subtitle">
          Planes y Precios
        </h2>
      </div>
    </div>
  </section>
</section>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>BINGO-APP</strong> by <a href="https://jgthms.com">Discrete-Events</a><br>
        <strong>Noviembre2020</strong>
      </p>
    </div>
  </footer>