<!--<app-menu></app-menu>-->


<section class="hero is-dark is-large" id="home">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" (click)="onClickScroll('home')" >
            <img src="" width="112" height="28" alt="BINGO-APP">
          </a>
      
          <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu" #navMenu>
          <div class="navbar-start">
            <a class="navbar-item" (click)="onClickScroll('home')">
              Inicio
            </a>
      
            <a class="navbar-item" (click)="onClickScroll('who-are-we')">
                Quienes Somos
            </a>
            
            <a class="navbar-item" (click)="onClickScroll('pricing')">
                   
                Precios
            </a>
      
           <!--  <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div> 
            </div>-->
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-warning is-hoverable">
                  <strong>Crear cuenta nueva</strong>
                </a>
                <a class="button is-danger is-hoverable">
                  <strong>Iniciar sesión</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!--Hero space-->
    <div class="hero-body">
      <div class="columns is-vcentered">
        <div class="column">
    
          <div class="has-text-centered">
            <h1 class="title is-size-1">
              <strong> BINGO-APP</strong> 
            </h1>
            <h2 class="subtitle">
              First Section
            </h2>

         </div>
        </div>
        <div class="column">

            <figure class=" image is-5by4">
              <img src="https://bulma.io/images/placeholders/256x256.png">
             </figure>  
          </div>
        </div>
      </div>


     
  

<section class="hero is-link is-large" id="who-are-we">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Quienes Somos
        </h1>
        <h2 class="subtitle">
          bingo-app
        </h2>
      </div>
    </div>
  </section>
  <section class="hero" id="pricing">
    <div class="hero-body">
      <div class="column">
        <p class="bd-notification is-info is-vcentered">First column</p>
        <div class="columns is-mobile">
          <div class="column">
            <p class="bd-notification is-info">First nested column</p>
          </div>
          <div class="column">
            <p class="bd-notification is-info">Second nested column</p>
          </div>
          <div class="column">
            <p class="bd-notification is-info">Second nested column</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>BINGO-APP</strong> by <a href="https://jgthms.com">Discrete-Events</a><br>
        <strong>Noviembre2020</strong>
      </p>
    </div>
  </footer>