.input {
  color:whitesmoke;
  background: #2EBD75;
}

.p-inputtextarea {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  background: #2EBD75;
}

.dialog {
  color: whitesmoke;
  background: #2EBD75;
  text-align:initial;
  /* background:#001F27; */
} 
  