<div class="container">
      <h1><strong>Cambiar perfiles de usuarios</strong></h1>
      <br>
      <div class="card">
            <div class="table">
              <p-table #dt1 [value]="usuarios" styleClass="p-datatable-responsive-demo" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
              currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros." [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['email','usuarios.email']" filterGlobal="email">
              <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar email" />
                    </span>
                </div>
            </ng-template>
                  <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
                        <th>Perfil</th>
                        <th>Activo</th>
                        <th>Sesión Activa</th>
                        <th>Acción</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-usuario>
                    <tr>
                      <td>{{usuario.email}}</td>
                      <td *ngIf="usuario.idRolUsuario ==1"><button  class="p-button-danger" pButton type="button" label="Administrador" ><i class="pi pi-star"></i></button></td>
                      <td *ngIf="usuario.idRolUsuario ==2"><button  class="p-button-warning" pButton type="button" label="Dealer" ><i class="pi pi-android"></i></button></td>
                      <td *ngIf="usuario.idRolUsuario ==3"> Usuario </td>
                      <!-- <td  *ngIf="usuario.activo ==1" ><p-inputSwitch  pTooltip="Para cambiar debe modificar" disabled="true" [(ngModel)]="checked"></p-inputSwitch></td> -->
                      <td><p-inputSwitch  pTooltip="Para cambiar debe modificar" disabled="true" [(ngModel)]="usuario.activo"></p-inputSwitch></td>
                     <!--  <td *ngIf="usuario.sesionActiva ==0">No</td>
                      <td *ngIf="usuario.sesionActiva ==1">Si</td> -->
                      <!-- <td *ngIf="usuario.sesionActiva ==1" ><p-inputSwitch pTooltip="Para cambiar debe modificar" disabled="true" [(ngModel)]="checked"></p-inputSwitch></td> -->
                      <td><p-inputSwitch pTooltip="Para cambiar debe modificar" disabled="true" [(ngModel)]="usuario.sesionActiva"></p-inputSwitch></td>
                     
                      <td> <p-button (click)="goToEditarUser(usuario.id)" icon="pi pi-user-edit" label="Modificar" styleClass="p-button-text"></p-button></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  <div class="p-d-flex p-ai-center p-jc-between">
                      Tienes en total {{usuarios ? usuarios.length : 0 }} usuarios.
                  </div>
              </ng-template>
            </p-table>
              </div> 
      </div>
</div>