<div class="section p-mt-5">
	<div class="container">
		<div class="columns is-vcentered">
			<div class="column">
				<figure class="image is-256x256">

					<img alt="Card" src="../../../assets/images/card-bingo-balls.png">
				</figure>
			</div>
			<div class="column">
				<div class="tile has-text-centered is-transparent">
					<p-card header="¡Ingresa y Juega!" subheader="ingresa e-mail y contraseña"
						[style]="{width: '24em'} " styleClass="p-card-shadow" class="p-fluid">
						<p-header>
						</p-header>

						<div class="p-text-left">
							<label for="username">Correo</label>
						</div>
						<div class="p-field p-col-12">
							<input name="userName" type="username" aria-describedby="username2-help"
								[(ngModel)]="userName" pInputText />

						</div>
						<div class="p-text-left">

							  <label for="passUser" class="p-text-left">Contraseña</label>

						</div>
						<div class="p-field p-col-12">
							  <input name="passUser" pInputText type="password" [(ngModel)]="passUser" (keyup.enter)="iniciarSesion()"/>

						</div>
						<div *ngIf="errores" class="p-col-12"><small class="p-invalid">Usuario o Contraseña
								invalidos!</small></div>
						<ng-template pTemplate="footer">
							<p-button label="Iniciar Sesión" icon="pi pi-check" (click)="iniciarSesion()"></p-button>
							<div class="p-pt-2">
								<a (click)="goForgot()" >Olvide mi contraseña</a>
							</div>
						</ng-template>

					</p-card>
				</div>
			</div>
		</div>


	</div>
</div>
