<p>client-admin works!</p>
<div class="section p-mt-5">
	<div class="container">
		<div class="columns is-vcentered">
		<!-- 	<div class="column">
				<figure class="image is-256x256">
					<img alt="Card" src="../../../assets/images/">
				</figure>
			</div> -->
			<div class="column">
				<div class="tile has-text-centered is-transparent">
					<p-card header="Solo un paso más!" subheader="completa tus datos"
						[style]="{width: '24em'} " styleClass="p-card-shadow" class="p-fluid">
						<p-header>
						</p-header>
                       
                            <div class="p-text-left">
                                <label for="username" >Correo</label>
                            </div>
                            <div class="p-field p-col-12">
                                <input name="email" type="email" pInputText  />
                             </div>
                            <div class="p-text-left">
                                <label for="passUser" class="p-text-left">Contraseña</label>
                            </div>
                            <div class="p-field p-col-12">
                                <input name="password" pInputText type="password" />
                            </div>
                            <div class="p-text-left">
                                <label for="passUser" class="p-text-left">Repita su contraseña</label>
                            </div>
                            <div class="p-field p-col-12">
                                <input name="repeat_password" pInputText type="password"/>
                            </div>
                           
                    
						
						<ng-template pTemplate="footer">
							<p-button label="Confirmar e-mail"  icon="pi pi-check" ></p-button>
						
						</ng-template>

					</p-card>
				</div>
			</div>
		</div>


	</div>
</div>
