<!-- xyz="fade flip-up flip-left" -->
<section id="home">
	<div class="section hero is-fullheight is-dark p-mt-4 p-text-center" >
		<div class="columns is-vcentered">
			<div class="container is-centered">
				<div class="column">
					<div class="notification is-dark" xyz="fade down-5 rotate-right-50 stagger" >
						<div>
							<figure class=" image is-4by3 xyz-in">
								<img src="../../assets/images/coinmod.png">
							</figure>					

						</div>
					</div>
				</div>
			</div>
			<div class="column">

				<div class="has-text-centered">
					<h1 class="title is-size-1">
						<strong> BINGO-APP</strong>
					</h1>
					<h2 class="subtitle">
						Moderna, segura, divertida
					</h2>
					<div>
						<button (click)="goLogon()" class="button is-large is-danger"><strong>¡Juega
								Ahora!</strong></button>
					</div>
				</div>
			</div>

		</div>
		<div>
			<article class="message is-black">
				<div class="message-body">
					<span class="icon is-medium"> <i class="pi pi-star-o"></i> </span> Pro-Tip: pueden dar infromacion
					de conctacto; <strong>oferta</strong>, o promoción que invite a registrarse <a>felis venenatis</a>
					efficitur. Aenean ac <em>eleifend lacus</em>
				</div>
			</article>
		</div>
	</div>
	<!--Quienes Somos    ¿como jugar?-->
	<div class="section hero is-black is-fullheight" id="who-are-we">
		<div class="tile is-ancestor">
			<div class="tile">
				<!-- Add content or other tiles -->
			</div>
		</div>
		<div class="level">
			<!--<div class="block">-->
			<div class="column">

				<div class="level">

					<div class="columns is-vcentered">
						<div class="column">
							<div class="block">
								<div class="notification is-link">
									<h1 class="title">
										Reglas del Bingo
									</h1>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officia cupiditate
										minus expedita consequuntur ratione, est maiores unde debitis repudiandae?|</p>
								</div>
								<div class="notification is-danger">
									<h1 class="title">
										Quienes Somos
									</h1>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officia cupiditate
										minus expedita consequuntur ratione, est maiores unde debitis repudiandae?|</p>
								</div>

							</div>
						</div>

						<div class="column">
							<div class="tile is-parent">
								<div class="container is-widescreen" xyz="origin-bottom-right">
									<figure class="image is-4by3 inshow xyz-in" >
										<img src="../../assets/images/bingo-woman.png">
									</figure>
								</div>
							</div>
						</div>

						<div class="column">
							<div class="block">
								<div class="notification is-black">
									<h1 class="title">
										Reglas del Bingo
									</h1>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officia cupiditate
										minus expedita consequuntur ratione, est maiores unde debitis repudiandae?|</p>
								</div>
								<div class="notification is-black">
									<h1 class="title">
										Quienes Somos
									</h1>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officia cupiditate
										minus expedita consequuntur ratione, est maiores unde debitis repudiandae?|</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<nav class="level">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Suscritos</p>
					<p class="title">3,456</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Ganadores</p>
					<p class="title">123</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Monedas</p>
					<p class="title">456K</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Salas</p>
					<p class="title">789</p>
				</div>
			</div>
		</nav>
	</div>
	
	<section class="section is-fullheight" id="pricing">
		<div class="hero-body">
			<div class="tile is-ancestor">
				<div class="tile is-4 is-vertical is-parent">

					<div class="tile is-child notification is-success">
						Maneja tus Salas de Bingo
						Primar lorem ipsum dolor sit amet, consectetur
						adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat
						ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et
						dictum <a>felis venenatis</a> efficitur. Sit amet,
						consectetur adipiscing elit
						<div class="has-text-right">
							<button class="button is-dark is-inverted is-outlined">Maneja tu Sala</button>
						</div>

					</div>

					<div class="tile is-child notification is-dark">
						Prueba tu suerte, ¡Juega y Gana!
						Primar lorem ipsum dolor sit amet, consectetur
						adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat
						ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et
						dictum <a>felis venenatis</a> efficitur. Sit amet,
						consectetur adipiscing elit

						<div class="has-text-right">
							<button class="button is-danger is-inverted is-outlined">¡Juega y Gana!</button>
						</div>
					</div>


					<div class=" tile is-child notification is-secondary is-outlined">
						¡Juega Gratis!
						Primar lorem ipsum dolor sit amet, consectetur
						adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat
						ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et
						dictum <a>felis venenatis</a> efficitur. Sit amet,
						consectetur adipiscing elit
						<div class="has-text-right">
							<button class="button is-primary is-inverted is-outlined">Juega Gratis</button>
						</div>
					</div>

				</div>


				<div class="tile is-parent">
					<div class="tile is-child">

						<figure class="image is-4by3">
							<img src="../../assets/images/isometrico.png">
						</figure>

					</div>
				</div>
			</div>




		</div>
	</section>
</section>