body {
    
    background-image: url("http://localhost:3050/uploadfile/img/20656.png" );
  }

.inshow {
    --xyz-rotate-z: 1turn;
    --xyz-origin: center -200%;
    --xyz-duration: 2s;
    --xyz-scale-x: 0;
    --xyz-scale-y: 0;
}
