<div class="p-card">
    <p-header class="p-header">
        <h1>
            <i class="pi pi-inbox" style="font-size: 1rem"></i> Buzon de entrada
        </h1>
    </p-header>
    <p-card>
        <ul *ngFor="let notificacion of notificaciones">
            <li>
                <a pTooltip="Abrir mensaje" tooltipPosition="bottom" (click)="goToUpdateNotificacion(notificacion.idNotificacion)"> 
                    <i class="pi pi-envelope" style="font-size: 1rem"></i> {{notificacion.mensaje}}
                </a>
            </li>
            <br>
            <li>
                <i class="pi pi-calendar"  style="font-size: 1rem"></i> {{notificacion.fechaEnvio | date: 'dd/MM/yyyy HH:MM:SS'}}
            </li>
            <br>
        </ul>
    </p-card>
    <p-footer>
        <i class="pi pi-eye" style="font-size: 1rem"></i>  Tienes {{this.cantidadNotificaciones}} mensajes sin leer.
    </p-footer>
</div>







 
  