<!-- <div class="container">
    <nav class="navbar navbar-expand-lg navbar-brand bg-light-gray">
        <button class="navbar-toggler" data-target="menu" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
                <ul>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link">Precios</a>
                    </li>
                </ul>
               
            </div>
        </nav>
</div> -->

<nav id="navbar" class="navbar navbar-light bg-dark">  
    <span class="navbar-brand mb-0 h1 text-light "><img class="avatar" src="assets/img/bingo-letras.png" alt="..."></span>  
    <span id="heading" class="navbar-light mb-0 " routerLink="/home" routerLinkActive="active">Inicio</span>  
    <span id="heading" class="navbar-light mb-0 " routerLink="/faqs" routerLinkActive="active">Preguntas Frecuentes</span>  
    <span id="heading" class="navbar-light mb-0 " routerLink="/testimonios" routerLinkActive="active">Testimonios</span>   
    <span id="heading" class="navbar-light mb-0 " routerLink="/tips" routerLinkActive="active">Tips y consejos</span>  
    <span id="heading" class="navbar-light mb-0 " routerLink="/contactos" routerLinkActive="active">Contactos</span> 
    <span id="heading" class="navbar-light mb-0  text-light" routerLink="/buy" routerLinkActive="active"><i class="pi pi-shopping-cart"></i></span>  
  </nav>
