<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://bulma.io">
      <img src="../../assets/images/bingo-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

      <a href="#" class="navbar-item">
        <span class="bd-emoji">🏫</span> Home
      </a>
     
      <a href="#" class="navbar-item">
        <span class="bd-emoji">🏦</span>
        Salas
      </a>
      <a href="#" class="navbar-item">
        <span class="bd-emoji">🤑</span> Pricing</a>
  
      <a class="navbar-item " href="/dashboard">
        <span class="bd-emoji">🎨</span>
        Juega Gratis
      </a>
      <a class="navbar-item " href="/dashboard">
        <span class="bd-emoji">❤️</span>
        My Bingo
      </a>
    
    <div class="navbar-item">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/jgthms" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
      
      </div>
  
    
</nav>



<!-- <nav class="navbar is-fixed-top box-shadow-y active">
    <div class="header">
      <a
        role="button"
        class="navbar-burger toggler"
        aria-label="menu"
        aria-expanded="true"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
 
      <a href="#" class="navbar-item has-text-weight-bold has-text-white">
        My Bingo Dashboard
      </a>
      <a
        role="button"
        class="navbar-burger nav-toggler"
        aria-label="menu"
        aria-expanded="false"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="#" class="navbar-item has-text-white">
          <i class="fas fa-home icon"></i> Home
        </a>
        <a href="#" class="navbar-item has-text-white">
          MyBingo
        </a>
        <a href="#" class="navbar-item has-text-white">
          Salas
        </a>
        <a href="#" class="navbar-item has-text-white">Pricing</a>
      </div>
      <div class="navbar-end">
        <a href="#" class="navbar-item has-text-white">
          <i class="pi pi-bell" pTooltip="Notificaciones" tooltipPosition="bottom"></i>
            
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="#" class="navbar-link has-text-white">
            Usuario
          </a>
          <div class="navbar-dropdown is-right">
            <a href="#" class="navbar-item">
              Perfil de usuario
            </a>
            <a href="#" class="navbar-item">Configuraciones</a>
            <hr class="navbar-divider" />
            <a href="#" class="navbar-item">Salir</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
 -->

 <!--  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  
  <div class="navbar-menu" id="navMenu">

    <a class="navbar-item">
      Home
    </a>
    
  </div> -->
  
   