<!-- <div class="columns is-variable is-0 ">
    <div>
      <div class="menu-container px-1 has-background-white">
        <div class="menu-wrapper py-1">
          <aside class="menu">
            <p class="menu-label has-text-lighter">General </p>
            <ul class="menu-list" *ngFor = "let menus of Menu">
              <li>
                <a href="/dashboard" class="has-text-black">
                  <i class="pi pi-th-large icon"></i>
                  {{menus.nombre}}</a
                >
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div> -->

    <p-sidebar visible = "true" [style]="{width:'15em'}" ariaCloseLabel="close">
          <ul *ngFor = "let menus of Menu">
           
            <li><i class="{{menus.icono}}"></i> {{menus.nombre}}</li>
            
          </ul>

    </p-sidebar>