<div class="columns is-variable is-0 active">
  <div>
    <div class="menu-container px-1 has-background-link-light">
      <div class="menu-wrapper py-1">
        <aside class="menu">
          <p class="menu-label has-text-lighter">General </p>
          
              <a href="/dashboard" class="has-text-lighter">
                <i class="pi pi-th-large icon"></i>
                MY Bingo Dashboard</a
              >
           
          <p class="menu-label has-text-lighter">Settings</p>
          <ul class="menu-list" *ngFor = "let menus of Menu">
           
            <li class="has-text-lighter"><i class="{{menus.icono}}"></i> {{menus.nombre}}</li>
            
          </ul>
          
        </aside>
      </div>
    </div>
  </div>



  <!--  <p-sidebar visible = "true" [style]="{width:'15em'}" ariaCloseLabel="close">
          <ul *ngFor = "let menus of Menu">
           
            <li><i class="{{menus.icono}}"></i> {{menus.nombre}}</li>
            
          </ul>

    </p-sidebar>

 -->