.wrapper {
  display: ruby-base-container;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

a[data-toggle="collapse"] {
  position: relative;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  
 background: #A6BF00;
  color: #fff; 
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 50px;
  background: #001F27;
}

#sidebar ul.components {
  padding: 10px 0;
  /* border-bottom: 1px solid #001F27; */
}

#sidebar ul p {
  color: #fff;
  padding: 115px;
}

#sidebar ul li a {
  padding: 12px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: lightgray;
  background: #A6BF00;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #001F27;
}


ul li a hr {
  font-size: 1.5em !important;
  padding-left: 30px !important;
  background: #001F27;
}

.icon {
  font-size: 20px !important;
  padding-left: 20px !important;
  padding-top: 20px;
  padding-right: 20px;
}

.user-picture {
  margin-left: 80px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  texto {
    margin-left: 50px;
    font-size: 1em;
  }

  .p-badge {
    font-size: 1em; 
    width: 5px;
    height: 5px;
    margin-left: 20px ;
  }
}

.buttonsOpenSidebar {
  padding-top: 8px;
  padding-left: 10px;
}

.textoSaldo {
  padding-top: 5px;
  padding-left: 60px;
  margin-right: 8px;
}

.textoTitulo {
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 15px;
  display: inline-flex;
}

.textoTituloNavbar {
  padding-top: 2px;
  padding-left: 25px;
<<<<<<< HEAD
}

.user-picture-navbar {
  margin-bottom: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  border-width: 1px;
  border-style:solid;
  border-color: #2EBD75;
  text-align: center;
  background: #2EBD75;
  padding-top: 5px;
}

.user-picture-sidebar {
  padding-left: 13px;
  padding-top: 6px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  /* border-width: 1px;
  border-style:solid;
  border-color: #2EBD75; */
  text-align: center;
  background: #2EBD75;
  display: inline-flex;
  
=======
>>>>>>> 2ba917b68f1475673bc012ee73c4920f2070abfe
}

.user-picture-navbar {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  border-width: 1px;
  border-style:solid;
  border-color: #2EBD75;
  text-align: center;
  background: #2EBD75;
  padding-top: 5px;
}

.user-picture-sidebar {
  padding-left: 13px;
  padding-top: 6px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  /* border-width: 1px;
  border-style:solid;
  border-color: #2EBD75; */
  text-align: center;
  background: #2EBD75;
  display: inline-flex;
  
}


   .button {
     width: 40px;
     height: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

 .a-sidebar {
   padding-left: 10px;
   /* margin-top: 20px; */
 }

 .navbar {
   height: 16mm;
 }

   .button {
     width: 40px;
     height: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

 .a-sidebar {
   padding-left: 10px;
   margin-top: 20px;
 }

