
<p-dialog class="dialog" header="Editar usuario"  [(visible)]="displayModal" [modal]="true" [style]="{width: '300px'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [closeIcon]="false">
    <p-toast position="center" key="t1" life="3000" (onClose)="redirect()"></p-toast> 
            <div class="p-field p-grid">
                    <label for="email" class="p-col-12">Email</label>
                    <div class="p-col-12">
                        <input class="input" style="width:300px" id="email" type="text" pInputText [(ngModel)]="this.usuario.email"> 
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="rol" class="p-col-12">Perfil</label>
                    <div class="p-col-12">  
                        <select class="select" style="width:300px" type="number" [(ngModel)]="usuario.idRolUsuario" (change)='onPerfilSelected($event)'>
                            <option *ngFor="let perfil of perfiles" [value]="perfil.code">
                                {{perfil.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="rol" class="p-col-12">Usuario Activo</label>
                    <div class="p-col-12">  
                        <td><p-inputSwitch   [(ngModel)]="this.usuario.activo"></p-inputSwitch></td>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="rol" class="p-col-12">Sesión Activa</label>
                    <div class="p-col-12">  
                        <td><p-inputSwitch [(ngModel)]="this.usuario.sesionActiva"></p-inputSwitch></td>
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-times"  (click)="close()" label="Cancelar" styleClass="p-button-text"></p-button>
                    <p-button icon="pi pi-save"  (click)="updateUsuario()" label="Guardar" styleClass="p-button-text"></p-button>
                </ng-template>
</p-dialog>