<app-sidebar></app-sidebar>

    
<div class="p-card">
    <p-card>
        <p-header>
            <i class="pi pi-inbox" style="font-size: 1rem"></i> Buzon de entrada
        </p-header>
        <ul *ngFor="let notificacion of notificaciones">
            <li>
                <a pTooltip="Abrir mensaje" tooltipPosition="bottom" [routerLink]="['/notificaciones/edit', notificacion.idNotificacion]"> <i class="pi pi-envelope" style="font-size: 1rem"></i> {{notificacion.mensaje}}</a>
            </li>
            <br>
            <li>
                <i class="pi pi-calendar"  style="font-size: 1rem"></i> {{notificacion.fechaEnvio | date: 'dd/MM/yyyy HH:MM:SS'}}
            </li>
            <br>
           <!--  <li>
                <br>
                <a (click)="showDialog()"  class="button is-danger is-hoverable" ><strong>Borrar mensaje</strong></a>
            </li> -->
            <br> 
            
        </ul>
        <p-footer>
            <i class="pi pi-eye" style="font-size: 1rem"></i>  Tienes {{this.cantidadNotificaciones}} mensajes sin leer.
        </p-footer>
    </p-card>
</div>







 
  