<app-sidebar></app-sidebar>
<p-toast></p-toast>

<div class="card table">
    
    <p-table #dt [value]="notificaciones" [rows]="10" [paginator]="true" [globalFilterFields]="['fechaRecibido','mensaje']"
        [(selection)]="selectedMensaje" [rowHover]="true" dataKey="idNotificacion"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0"><i class="pi pi-inbox"></i> Buzon de entrada</h5>
                
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="mensaje"> <i class="pi pi-envelope"></i> Mensaje <p-sortIcon field="mensaje"></p-sortIcon></th>
                <th pSortableColumn="fechaEnvio"><i class="pi pi-calendar"></i> Fecha Recibido <p-sortIcon field="fechaEnvio"></p-sortIcon></th>
                <th>ID</th>
                <th>Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-notificaciones>
            <tr>
                <td>
                    <p-tableCheckbox [value]="notificaciones"></p-tableCheckbox>
                </td>
                <td>{{notificaciones.mensaje}}</td>
                <td>{{notificaciones.fechaEnvio}}</td>
                <td>{{notificaciones.idNotificacion}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2" (click)="editMensaje()"></button>
                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tienes {{notificaciones ? notificaciones.length : 0 }} mensajes recibidos.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="mensajeDialog" [style]="{width: '450px'}" header="Mensaje Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
       
        <div class="form-group">
            <label for="mensaje">Mensaje</label>
          <input type="text" pInputText id="mensaje" [(ngModel)]="mensajesData.mensaje" required autofocus />
          <input type="text" pInputText id="idNotificacion" [(ngModel)]="mensajesData.idNotificacion" required autofocus />
        </div>
        
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="saveMensaje()" ></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" ></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>





<!-- <div class="table" >
  <div class="imag"><img src="../../assets/img/moto.png" width="250" /></div>
    <p-table class="table" [value]="notificaciones" styleClass="p-datatable-gridlines p-datatable-sm" [responsive]="true">
        
      <ng-template pTemplate="header">
          <tr>
              <th>Estatus</th>
              <th>Fecha recibido</th>
              <th>Mensaje</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-notificaciones>
          <tr>
              <td><a href="/mensaje/{{notificaciones.idNotificacion}}"><i class="far fa-envelope"></i></a></td>
              <td><a>{{notificaciones.fechaEnvio | date: 'dd/MM/yyyy HH:MM:SS'}} </a></td>
              <td><a>{{notificaciones.mensaje}}</a></td>
              <td><a>{{notificaciones.idNotificacion}}</a></td>
              <td><a>
                <div class="buttons">
                    
                    <button (click)="confirm()" pButton icon="pi pi-check" label="Borrar"></button>
                  <a (click)="confirm()" pTooltip="Eliminar mensaje" class="button is-danger is-hoverable">
                  <i class="fa fa-trash-alt fa-1x"></i></a>
                </div>
            </a></td>
          </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog header="Atención" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  </div> -->

  <!-- <div class="card table">
    <h5>Mensajería</h5>
    <p-table [value]="notificaciones"   [responsive]="true" styleClass="p-datatable-gridlines p-datatable-sm">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width: 8%">
                <col style="width:15%">
                <col style="width:40%">
                <col style="width:20%">
                <col style="width:10%">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th>Estatus</th>
              <th>Fecha recibido</th>
              <th>Mensaje</th>
              <th>Acción</th>
              <th>id</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-notificaciones>
            <tr>
              <td><i class="far fa-envelope"></i></td>
              <td>{{notificaciones.fechaEnvio | date: 'dd/MM/yyyy HH:MM:SS'}} </td>
              <td>{{notificaciones.mensaje}}</td>
              
              <td>
                <button pButton type="button" (click)="updateMensaje()"
                label="Marcar como leido" icon="pi pi-check" iconPos="left" 
                class="p-button-danger container1">
                </button>
              </td>
              <td>{{notificaciones.idNotificacion}}</td>
            </tr>
        </ng-template>
    </p-table>
</div> -->