.container {
    padding-top: 20px;
    margin-top: 80px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: whitesmoke;
    text-align:center;
    background:#1F2D40;
    border-radius: 10px;
  }