column1 {
    padding-top: 500px;
    font-size: 1em;
  }

  .image {
    display:block;
    padding-top: auto;
    padding-left: auto;
    width: 300px ;
    height: 300px ;
    margin: 6em;
    margin-left: 80px;
  }

  .imag {
    margin-top: 100px;
    text-align: center;
}

.boton {
    margin-top: 40px;
    text-align: center;
}