<div class="p-grid p-fluid ">
	<div class="p-col-12">
		<app-navbar></app-navbar>
	</div>
	<div class="p-col-2">
		<app-sidebar></app-sidebar>
	</div>
	<div class="p-col-10">
		<main>
			<router-outlet></router-outlet> 
			
		</main>
		<div class="p-col-10">
			<div class="has-text-centered">
				<h1 class="title is-size-1">
					<strong> BINGO-APP</strong>
				</h1>
				<h2 class="subtitle">
					Gana mucho dinero jugando
				</h2>
				<div>
					<button class="button is-large is-danger"><strong>¡Juega
							Ahora!</strong></button>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- <div>
<p class="texto">algo : {{dataUser.userData.id}}</p>
<button (click)="logout()">logout</button>
</div> -->