<div class="p-grid p-fluid ">
	<div class="p-col-12">
		<!-- <app-navbar></app-navbar> -->
		
	</div>
	<div class="p-col-2">
		<app-sidebar></app-sidebar>
	</div>
	<div class="p-col-10">
		<main>
			<router-outlet></router-outlet>
			
		</main> 
	</div>
		
		
</div>

<div class="imag" *ngIf="this.rol=='Usuario'">
	<img src="../../assets/img/kisspng-bingo.png" width="300" /></div>
<div class="boton" *ngIf="this.rol=='Usuario'">
	<a href="/partidas"><button  class="button is-large is-danger"><strong>¡Juega
	Ahora!</strong></button></a>
</div>		



<!-- <div class="p-grid p-fluid image"  *ngIf="this.rol=='Usuario'">
			<div class="has-text-centered ">
				
				<img src="../../assets/img/kisspng-bingo.png">
				<br>
				<div>
					<a href="/partidas"><button  class="button is-large is-danger"><strong>¡Juega
						Ahora!</strong></button></a>
				</div>

				



			</div>
		</div> -->