<div>
    <!-- <nav class="tabs is-hoverable">
        <div class="container">
          <ul>
            <li class="is-active"><a>Contáctanos</a></li>
            <li class="is-active"><a>Preguntas Frecuentes</a></li>
            <li class="is-active"><a>Términos y Condiciones</a></li>
            <li class="is-active"><a>Políticas de Privacidad</a></li>
            <li class="is-active"><a>Afiliados</a></li>
            <li class="is-active"><a>Quienes Somos</a></li>
          </ul>
        </div>
      </nav> -->
  <div class="content copyright has-text-centered p-mb-3">  
      <p>
        <strong>&copy; {{this.year | date: 'yyyy'}}</strong>, made with ❤ by <a href="https://discreteevents.us"> Discrete Events </a><br>
        
      </p>
     
    </div> 

</div>
  